.contact{
    background-color: $bcgDark;
    padding: 95px 0;
}
.contact-title{
    color: #fff;
}
.contact-desc{
    padding-top: 27px;
    color: #fff;
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Social Networks

.contact__network{
    display: flex;
    padding-top: 64px;
}
.network-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.network-item:nth-child(even) {
    padding: 0 24px;
}
.network-link{
    cursor: pointer;
}

// Connecting

.contact__connect{
    padding-top: 50px;
    max-width: 264px;
}
.connect-item{
    display: flex;
    align-items: center;
}
.connect-item:nth-child(even) {
    margin: 20px 0;
}
.connect-icon{
    display: flex;
    align-items: center;
}
.connect-link{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    padding-left: 20px;
}

// Form Submit

.contact-form{
    max-width: calc(378px - 100px);
    height: auto;
    border-radius: 15px;
    background-color: #fff;
    padding: 130px 50px 52px;
    margin-top: 50px;
}
.contact-label{
    position: absolute;
    color: $text;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.01em;
    transition: ease 300ms;
    padding-left: 20px;
    transform: translateY(20px);
}
.contact-input{
    width: calc(100% - 42px);
    margin-bottom: 45px;
    height: 54px;
    border-radius: 39px;
    border: 1px solid $borderForm;
    background-color: $bcgForm;
    padding: 0 20px;
    transition: ease 300ms;
}
.contact-textarea{
    resize: none;
    border-radius: 5px;
    height: 147px;
    padding: 20px;
    border: 1px solid $borderForm;
    background-color: $bcgForm;
}
.contact-btn-send{
    color: #fff;
    width: 145px;
    padding: 18px 0;
    background-color: $accent;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto';
    border-radius: 35px ;
}

// Animation

.contact-input:hover,
.contact-input:focus{
    border: 1px solid $accent;
}




