.contact{
    background-color: $bcgDark;
    padding: 95px 0;
}
.contact-title{
    color: #fff;
}
.contact-desc{
    padding-top: 27px;
    color: #fff;
}
.contact__network{
    padding-top: 64px;
}
.network-list{
    display: flex;
    justify-content: center;
}
.network-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.network-item:nth-child(even) {
    padding: 0 24px;
}
.network-link{
    cursor: pointer;
}

.contact__connect{
    padding-top: 50px;
}
.connect-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.connect-item{
    display: flex;
}
.connect-item:nth-child(even) {
    padding: 10px 0;
}
.connect-link{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    padding-left: 10px;
}