.header{
    position: relative;
    padding-top: 40px;
    height: 100vh;
    background: $bcgGradient;
}
.header-content{
    display: flex;
    justify-content: space-between;
}

// Burder Menu
.header__burger{
    position: relative;
    width: 27px;
    margin-top: 25px;
}
.burger-line{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
}
.burger-line::before{
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    width: 70%;
    height: 3px;
    background-color: #fff;
}
.burger-line::after{
    content: '';
    position: absolute;
    top: 16px;
    right: 0;
    display: block;
    width: 45%;
    height: 3px;
    background-color: #fff;
}

// Navigation
.nav-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    height: 100vh;
    background-color: #fff;
    padding: 40px;
    overflow: hidden;
}
.nav-link{
    position: relative;
    padding: 10px 0;
    font-weight: 400;
    font-size: 18px;
    color: $text;
    letter-spacing: 0.02em;
    line-height: 27px;
    transition: all ease 300ms;
}
.nav-link:hover,
.nav-link:focus {
    color: $accent;
}
.nav-email-field{

}
.nav-email-btn{
    width: calc(100% - 40px);
    padding: 16px 0;
    border-radius: 35px;
    background-color: $accent;
    color: #fff;
    transition: all 300ms;
    font-weight: 500;
    font-size: 16px;
}
.nav-email-btn:hover,
.nav-email-btn:focus {
    border: 1px solid $accent;
    background-color: transparent;
    color: $accent;
}

// Hero
.hero-desc{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.hero-title{
    font-weight: 900;
    color: #fff;
    font-size: 40px;
    line-height: 55px;
}
.hero-subtitle{
    padding-top: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.hero-img{
    max-width: 380px;
}
.hero-btn{
    width: 236px;
    margin-top: 50px;
    padding: 16px 0;
    border-radius: 35px;
    background-color: $accentSec;
    color: #fff;
    font-weight: 700;
    font-size: 19px;
}
// Wawes
.wave-bcg{
    position: absolute;
    bottom: -1%;
    width: 100%;
    height: 124px;
    background: #fff;
}
