.price {
    padding: 110px 0 100px;
}
.price-desc{
    padding-top: 17px;
}
.price-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}
.price__card{
    background-color: #fff;
    width: calc(335px - 92px);
    padding: 20px;
    border: 1px solid $borderForm;
    border-radius: 10px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.price__card:nth-child(even) {
    margin: 50px 0;
}
.price__card:hover,
.price__card:focus {
    background: $bcgGradient;
    color: #fff;
}
.price__card:hover > .card-link,
.price__card:focus > .card-link {
    background-color: #fff;
    color: $accent;
    
}
.card-head{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.01em;
}
.card-desc{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
.card-body{
    display: flex;
    padding-top: 25px;
}
.card-price{
    font-weight: 900;
    font-size: 55px;
}
.card-condition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.card-symbol{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}
.card-period{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
}
.card-link{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 18px 0;
    color: #fff;
    background-color: $accentSec;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    border-radius: 35px;
    margin-top: 30px;
}

@media screen and(min-width: 480px) {
    .price__card{
        width: calc(335px - 82px);
        padding: 40px;
    }
}

@media screen and(min-width: 1024px) {
    .price-content{
        flex-direction: row;
        justify-content: space-between;
    }
    .price__card{
        width: calc(335px - 92px);
        padding: 20px;
    }
    .price__card:nth-child(even) {
        margin: 0;
    }
}
@media screen and(min-width: 1440px) {
    .price-content{
        justify-content: center;
    }
    .price__card{
        width: calc(335px - 82px);
        padding: 40px;
    }
    .price__card:nth-child(even) {
        margin: 0 40px;
    }
}