//colors
$accent: #EF2779;
$accentSec: #38A3F1;
$bcgGradient: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
$bcgDark: #252B42;
$text:#252B42;
$textSec: #374754;
$border: #374754;
$borderForm: #E8E8E8; 
$bcgForm: #F5F5F5; 